@font-face {
  font-family: DIN;
  src: url('../assets/DIN-Medium.ttf') format('truetype');
}

.appContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000000;
  font-family: DIN-Medium, DIN;
}

.titleWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 80px;
  background: #000000;
  z-index: 2;
  color: #232323;
  animation: title 2s;
  animation-fill-mode: forwards;
  user-select: none;
}

@keyframes title {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.contentContainer {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate3d(-50%, -50%, 0);
  width: 600px;
  color: #ffffff;
}

.time {
  display: flex;
  margin-bottom: 35px;
  justify-content: space-between;
  font-size: 35px;
}

.dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  background: rgba(111, 242, 233, 1);
  border-radius: 50%;
  margin: 5px;
}

.currentDayDot {
  background: #e73654;
  animation: breath 2s ease-in-out infinite;
}

@keyframes breath {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
